.contact-main {
    height: 325px;
    margin-bottom: 20px;
    background: linear-gradient(0deg, rgb(0 0 0), rgb(0 0 0 / 57%)), url('../../../assets/images/contact.jpg'); 
    background-repeat: no-repeat;
    background-size: cover; 
    background-position:center ; 
}
