.home-main {
    height: 325px;
    margin-bottom: 20px;
    background-image: url('../../../assets/images/back.jpg'); 
    background-repeat: no-repeat;
    background-size: cover; 
    background-position:center ; 
}