<footer class="footer-main">
  <div>
    <div class="container">
      <div class="cta d-block d-md-flex align-items-center px-5">
        <div>
          <h3 class="text-dark mb-0">Let's get started!</h3>
        </div>
        <div class="ml-auto">
          <a
            routerLink="/dashboard/contact"
            class="btn btn-dark py-2 px-3"
            >Contact us</a
          >
        </div>
      </div>
      <div class="row align-items-center">
        <div class="col-sm">
          <span>Copyright © super-company 2023</span>
        </div>
        <div class="col-md-3">
          <h3>Follow us</h3>
          <ul class="list-unstyled social">
            <li>
              <a><span class="fa fa-facebook"></span></a>
            </li>
            <li>
              <a><span class="fa fa-twitter"></span></a>
            </li>
            <li>
              <a><span class="fa fa-linkedin"></span></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
