/* You can add global styles to this file, and also import other style files */
@import 'ngx-toastr/toastr';

.heading {
    text-align: center;
}

.custom-buttom {
    background-color: #8186d5;
    border-color: #8186d5;
    color: white;
}